* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

body {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

table {
  border: 1px solid orange;
  width: 90vw;
  border-collapse: collapse;
  border-width: 0px 0px 1px 1px;
}

td,
th {
  border: 1px solid orange;
  padding: 3px 5px;
  text-align: center;
}

th {
  background-color: #888888;
  color: white;
}

.sub-total-text {
  text-align: right;
  text-align: center;
}
